<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.1" />
    <title>História - Ernani Pro 2024</title>
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400&display=swap"
        rel="stylesheet" />
        <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
</head>

<body> <a href="#about" class="scrolltop" id="scroll-top"><i class="bx bx-chevron-up scrolltop__icon"></i> </a>
    <header class="f-header" id="header">
        <nav class="nav bd-container">
          <a href="../../index.html" class="nav__logo" style="color: #fac516;">Ernani Pro</a>
          <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
              <li class="nav__item">
                <a href="../../index.html" class="nav__link">Home</a>
              </li>
              <li class="nav__item">
                <a href="#about" class="nav__link active">História</a>
              </li>
              <li class="nav__item">
                <a href="../../index.html" class="nav__link">Camisa</a>
              </li>
              <li class="nav__item">
                <a href="../../index.html" class="nav__link">Programação</a>
              </li>
              <li class="nav__item">
                <a href="#contact" class="nav__link">Mapa Virtual</a>
              </li>
              <li><i class="bx bx-moon change-theme" id="theme-button"></i></li>
            </ul>
          </div>
          <div class="nav__toggle" id="nav-toggle">
            <i class="bx bx-menu-alt-right"></i>
          </div>
        </nav>
      </header>
      <section class="about section bd-container" id="about">
        <div class="about__container bd-grid">
          <div class="about__data">
            <span class="section-subtitle about__initial">Feira de Profissões</span>
            <h2 class="section-title about__initial">Nossa História</h2>
            <p class="about__description">
              Desde a nossa primeira edição, nossa missão principal é transformar o seus sonhos em realidade. Focando em ajudar nossos alunos <b class="bold-color">a tirar seus projetos de vida do papel.</b>
            </p>
            <a href="#services" class="button"
              >Explorar &#8594;</a
            >
          </div>
          <img src="../images/focus.jpg" class="representative__img" />
        </div>
      </section>

      <section class="services section bd-container" id="services"> <span class="section-subtitle">Nossos Piláres</span>
        <h2 class="section-title">Ernani Pro</h2>
        <div class="services__container bd-grid">
            <div class="services__content"> <i class="bx bxs-user-voice services__icon"></i>
                <h3 class="services__title">Protagonismo</h3>
                <p class="services__description">Os alunos assumem a capacidade de refletir sobre seus gostos e habilidades, um passo importante no seu desenvolvimento.</p>
            </div>
            <div class="services__content"> <i class="bx bx-shape-polygon services__icon"></i>
                <h3 class="services__title">Network</h3>
                <p class="services__description">A feira permite que os alunos criem conexões valiosas com profissionais, facilitando o acesso a informações e futuras oportunidades.
                </p>
            </div>
            <div class="services__content"> <i class="fa-solid fa-compass services__icon"></i>
                <h3 class="services__title">Escolha</h3>
                <p class="services__description">Nossa feira permite que os alunos explorem diferentes áreas de interesse, auxiliando na escolha de suas futuras carreiras.</p>
            </div>
        </div>
    </section>


    <section class="about section bd-container" id="about-02">
        <div class="about__container bd-grid">
            <div class="about__data"> <span class="section-subtitle about__initial">Feira de Profissões 2014</span>
                <h2 class="section-title about__initial">Convite</h2>
                <p class="about__description">"A realização de uma Feira de Profissões na cidade de Assis, SP, vinha sendo requerida, há alguns anos, algumas vezes pela comunidade, outras, pelas universidades." <b class="bold-color"> - Artigo Unesp</b></p>
                <a href="https://www2.unesp.br/sharer.php?noticia=15228" target="_blank" class="button"
              >Leia o Artigo </a
            >
            </div><img src="../images/invite.png" class="about__img" >
        </div>
    </section>

    <section class="about section bd-container" id="about-02">
      <div class="about__container bd-grid">
          <div class="about__data"> <span class="section-subtitle about__initial"> Ernani Pro</span>
              <h2 class="section-title about__initial">Oficinas</h2>
              <p class="about__description">Dessa forma, colocamos em prática o <b class="bold-color">projeto de vida</b> dos alunos por meio de exposições, oficinas e palestras ao longo da feira.
              </p>
              <a href="INDEXFAKE" target="_blank" class="button"
            >Programação 2024 </a
          >
          </div><img src="../images/workshop.jpg" class="representative__img" >
      </div>
  </section>

    <section class="about section bd-container" id="about">
        <div class="about__container bd-grid">
          <div class="about__data">
            <span class="section-subtitle about__initial">Feira de Profissões</span>
            <h2 class="section-title about__initial">Camiseta</h2>
            <p class="about__description">
                Já na primeira edição da Feira, foi constituido a Arte, Camiseta. E o  Slogan <b class="bold-color">" Qual o seu projeto de vida? "</b>
            </p>
            <a href="../../index.html#contact" class="button"
              >Camiseta 2024</a
            >
          </div>
          <img src="../images/shirt.jpg" class="about__img" />
        </div>
      </section>

    <section class="contact section bd-container" id="contact">
        <div class="contact__container bd-grid">
            <div class="contact__data"> <span class="section-subtitle contact__initial">Mapa da Feira</span>
                <h2 class="section-title contact__initial">Mapa Virtual 2024</h2>
                <p class="contact__description">Venha conferir o mapa da nossa edição!</p>
            </div>
            <div class="contact__button"> <a href="./support.html" class="button">Veja o Mapa! </a> </div>
        </div>
    </section>
    <footer class="footer section bd-container">
      <div class="footer__container bd-grid">
          <div class="footer__content"> <a href="#about" class="footer__logo">Ernani Pro 24</a> <span
                  class="footer__description">Feira de Profissões</span>
              <div>  <a href="https://instagram.com/radiobemtevi?igshid=MzRlODBiNWFlZA==" target="_blank" class="footer__social"><i class="bx bxl-instagram"></i></a> 
                <a href="https://youtube.com/@radiobem-te-vige7752?si=r1vlNIpGLVzRHb3o&sub_confirmation=1" target="_blank" class="footer__social"><i class="bx bxl-youtube"></i></a> 
                <a href="https://www.tiktok.com/@radiobemtevi?_t=8gvfimnrooa&_r=1" target="_blank" class="footer__social"><i class="bx bxl-tiktok"></i></a>
              
              </div>
          </div>
          <div class="footer__content">
              <h3 class="footer__title">Piláres</h3>
              <ul>
                  <li>
                      <p class="footer__link">Protagonismo</p>
                  </li>
                  <li>
                      <p class="footer__link">Network</p>
                  </li>
                  <li>
                      <p class="footer__link">Escolha</p>
                  </li>
              </ul>
          </div>
          <div class="footer__content">
              <h3 class="footer__title">Informações</h3>
              <ul>
                  <li>
                      <p class="footer__link">Programação</p>
                  </li>
                  <li>
                      <p class="footer__link">Contatos</p>
                  </li>
                  <li>
                      <p class="footer__link">Mapa</p>
                  </li>
                  
              </ul>
          </div>
          <div class="footer__content">
              <h3 class="footer__title">Endereço</h3>
              <ul>
                  <li class="footer__link">Assis - SP - Vila Xavier</li>
                  <li class="footer__link"> Rua Sr do Bonfim, 1165 </li>
                  <li class="footer__link">(18)3322-4289</li>
                  <li class="footer__link">radiobemtivicontato@gmail.com</li><a
                      href="https://www.google.com.br/maps/place/Escola+Estadual+Prof.+Ernani+Rodrigues/@-22.6689281,-50.4261237,17z/data=!3m1!4b1!4m6!3m5!1s0x9495398f1479965b:0x109c527dca61c3ed!8m2!3d-22.6689331!4d-50.4235488!16s%2Fg%2F11b5pj6ctn?entry=ttu"
                      target="_blank" style="color: #e7a704;">Clique para ver no mapa.</a>
              </ul>
          </div>
      </div>
      <p class="footer__copy"><b>&#169;</b> 2024 Escola Ernani Rodrigues. <b>Todos os direitos reservados.</b></p>
  </footer>
    </main>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://unpkg.com/jquery@3.6.1/dist/jquery.js"></script>
    <script src="https://kit.fontawesome.com/65738bccfe.js" crossorigin="anonymous"></script>
    <script src="../javascript/header.js"></script>
    <script src="../javascript/index.js"></script>
</html>